<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.guqing.travelpath.mapper.TilesMapper" >
  <resultMap id="BaseResultMap" type="xyz.guqing.travelpath.entity.Tiles" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="zoom_level" property="zoomLevel" jdbcType="INTEGER" />
    <result column="tile_column" property="tileColumn" jdbcType="INTEGER" />
    <result column="tile_row" property="tileRow" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="xyz.guqing.travelpath.entity.Tiles" extends="BaseResultMap" >
    <result column="tile_data" property="tileData" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, zoom_level, tile_column, tile_row
  </sql>
  <sql id="Blob_Column_List" >
    tile_data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="xyz.guqing.travelpath.entity.TilesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tiles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="xyz.guqing.travelpath.entity.TilesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tiles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tiles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tiles
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.guqing.travelpath.entity.TilesExample" >
    delete from tiles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.guqing.travelpath.entity.Tiles" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tiles (zoom_level, tile_column, tile_row, 
      tile_data)
    values (#{zoomLevel,jdbcType=INTEGER}, #{tileColumn,jdbcType=INTEGER}, #{tileRow,jdbcType=INTEGER}, 
      #{tileData,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="xyz.guqing.travelpath.entity.Tiles" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tiles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zoomLevel != null" >
        zoom_level,
      </if>
      <if test="tileColumn != null" >
        tile_column,
      </if>
      <if test="tileRow != null" >
        tile_row,
      </if>
      <if test="tileData != null" >
        tile_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zoomLevel != null" >
        #{zoomLevel,jdbcType=INTEGER},
      </if>
      <if test="tileColumn != null" >
        #{tileColumn,jdbcType=INTEGER},
      </if>
      <if test="tileRow != null" >
        #{tileRow,jdbcType=INTEGER},
      </if>
      <if test="tileData != null" >
        #{tileData,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.guqing.travelpath.entity.TilesExample" resultType="java.lang.Integer" >
    select count(*) from tiles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tiles
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.zoomLevel != null" >
        zoom_level = #{record.zoomLevel,jdbcType=INTEGER},
      </if>
      <if test="record.tileColumn != null" >
        tile_column = #{record.tileColumn,jdbcType=INTEGER},
      </if>
      <if test="record.tileRow != null" >
        tile_row = #{record.tileRow,jdbcType=INTEGER},
      </if>
      <if test="record.tileData != null" >
        tile_data = #{record.tileData,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tiles
    set id = #{record.id,jdbcType=BIGINT},
      zoom_level = #{record.zoomLevel,jdbcType=INTEGER},
      tile_column = #{record.tileColumn,jdbcType=INTEGER},
      tile_row = #{record.tileRow,jdbcType=INTEGER},
      tile_data = #{record.tileData,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tiles
    set id = #{record.id,jdbcType=BIGINT},
      zoom_level = #{record.zoomLevel,jdbcType=INTEGER},
      tile_column = #{record.tileColumn,jdbcType=INTEGER},
      tile_row = #{record.tileRow,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.guqing.travelpath.entity.Tiles" >
    update tiles
    <set >
      <if test="zoomLevel != null" >
        zoom_level = #{zoomLevel,jdbcType=INTEGER},
      </if>
      <if test="tileColumn != null" >
        tile_column = #{tileColumn,jdbcType=INTEGER},
      </if>
      <if test="tileRow != null" >
        tile_row = #{tileRow,jdbcType=INTEGER},
      </if>
      <if test="tileData != null" >
        tile_data = #{tileData,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="xyz.guqing.travelpath.entity.Tiles" >
    update tiles
    set zoom_level = #{zoomLevel,jdbcType=INTEGER},
      tile_column = #{tileColumn,jdbcType=INTEGER},
      tile_row = #{tileRow,jdbcType=INTEGER},
      tile_data = #{tileData,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.guqing.travelpath.entity.Tiles" >
    update tiles
    set zoom_level = #{zoomLevel,jdbcType=INTEGER},
      tile_column = #{tileColumn,jdbcType=INTEGER},
      tile_row = #{tileRow,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>