<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.guqing.travelpath.mapper.DeployPlanMapper">
    <resultMap id="baseResultMap" type="xyz.guqing.travelpath.model.dos.DeployPlanDO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <!-- 多表关联映射 -->
        <collection property="deployPlanNodes" javaType="java.util.List" ofType="xyz.guqing.travelpath.model.entity.DeployPlanNode">
            <id column="node_id" property="id"/>
            <result column="lat" property="lat"/>
            <result column="lng" property="lng"/>
        </collection>
    </resultMap>

    <select id="findDetailById" resultMap="baseResultMap">
        select dp.id,
           dp.name,
           dp.count,
           dp.description,
           dp.create_time,
           dn.id as node_id,
           dn.lat,
           dn.lng
        from deploy_plan dp
                left join deploy_node dn on dn.deploy_id = dp.id
        where dp.id =#{id}
    </select>
</mapper>
